<!-- <mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Contact Information</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header> -->

<!-- <mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab #tab [disabled]="!tab.isActive" label="Personal Information">
    <div class="container">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label>First Name</label>
              <input type="text" [(ngModel)]="contactInfo.FirstName" name="name" class="form-control"/>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Last Name</label>
              <input type="text" [(ngModel)]="contactInfo.LastName" name="name" class="form-control"/>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                <label>Number</label>
                <input type="text" [(ngModel)]="contactInfo.Phone" name="name" class="form-control"/>
              </div>
            </div>

          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
              <input type="text" [(ngModel)]="contactInfo.Email" name="name" class="form-control"/>
            </div>
          </div>

        </div>

        <div class="row">
          <button class="btn btn-success pull-right" (click)="forward(selectedIndex)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

      </form>
    </div>
  </mat-tab>

  <mat-tab #tab2 [disabled]="!tab2.isActive" label="Select Delivery Point">
    <agm-map [latitude]="latitude" [longitude]="longitude">

    </agm-map>

      <button class="btn btn-success pull-right" (click)="confirmOrder($event , selectedIndex)" style="width: 100%">
        <h4>Confirm Delivery Location <mat-icon>navigate_next</mat-icon> </h4>
      </button>

  </mat-tab>

  <mat-tab #tab3 [disabled]="!tab3.isActive" label="Confirm Order">
    <div class="container">
    <div class="row">FirstName: {{contactInfo.FirstName}}</div>
    <div class="row">LastName: {{contactInfo.LastName}}</div>
    <div class="row">Phone: {{contactInfo.Phone}}</div>
    <div class="row">Address: {{contactInfo.Address}}</div>
    <div class="row">Email: {{contactInfo.Email}}</div>
    <div class="row">ID: {{contactInfo.ID}}</div>

    <div class="row">Your Order Details have been Displayed kindly check for any errors</div>

    <button class="btn btn-success" (click) = "placeOrder()">Place Order</button>
  </div>
  </mat-tab>
</mat-tab-group> -->


<div class="stepper-container" style="background-color: blue;">
<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Location</ng-template>
      <div #mapContainer id="map"></div>
        <button class="controls" mat-button matStepperNext>
          <span class="button-text">Next</span>
          <span class="button-icon" >
            <i class="fa fa-arrow-right"></i>
          </span>
        </button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Billing</ng-template>
    <div class="wrapper">
      <div class="col-md-12 order-md-1">
      <form #paymentForm="ngForm" (submit)="onSubmitPayment(paymentForm)" novalidate>
        <div>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label for="name">Name</mat-label>
            <input matInput
            name="name"
            ngModel
            #name="ngModel"
            placeholder="Name"
            required
            >
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error *ngIf="name.invalid">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label for="phone_number">Phone Number<span class="text-muted">(0XXX-XXXXXXX)</span></mat-label>
            <input
            matInput
            id="number"
            placeholder="(03XX-XXXXXXX)"
            name="number"
            (focusout)="autoFormat(number.value)"
            ngModel
            #number="ngModel"
            required
            >
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="number.invalid">
              Number is required
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label for="email">Email</mat-label>
            <input
            matInput
            placeholder="test@test.com"
            name="email"
            ngModel
            #email="ngModel"
            >
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.invalid">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div>
          <mat-form-field appearance="outline" class="col-md-12">
            <mat-label for="address">Address</mat-label>
            <input
            matInput
            placeholder="1234 Main St"
            name="address"
            ngModel
            #address="ngModel"
            required
            >
            <mat-icon matSuffix>home</mat-icon>
            <mat-error *ngIf="address.invalid">
              Address is required
            </mat-error>
          </mat-form-field>
        </div> -->
        <!--Information End-->

        <!--Payment Details Start-->
        <!-- Payment Method -->
        <div class="input_group">
          <div class="input_box">
            <h4>Payment Methods</h4>
            <input type="radio" (click)="methodSelected('cod')" name="pay" class="radio" id="bc1" checked>
            <label for="bc1">
              <span><i class="fa fa-cc-cod"></i>Cash on Delivery</span>
            </label>
            <input type="radio" name="pay" class="radio" id="bc2">
            <label for="bc2">
              <span><i class="fa fa-cc-visa"></i>Credit Card (Coming Soon)</span>
            </label>
          </div>
        </div>


          <!-- Payment Method Card -->
          <div class="c-card" *ngIf = "paymentMethod ==='card'">
            <div>
              <mat-form-field appearance="outline" class="col-md-12">
                <mat-label for="cc_name">Name of Card Holder</mat-label>
                <input type="text"
                matInput
                name="cc_name"
                ngModel
                #cc_name="ngModel"
                placeholder="Name"
                required
                >
                <small class="text-muted">Full name as displayed on card</small>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="cc_name.invalid">
                  Name of Card Holder is required
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Input Card Number -->
            <div>
              <mat-form-field appearance="outline" class="col-md-12">
                <mat-label for="cc_number"> Credit Card Number</mat-label>
                <input type="tel"
                matInput
                maxlength="16"
                name="cc_number"
                ngModel
                #cc_number="ngModel"
                placeholder="XXXX XXXX XXXX XXXX"
                required
                >
                <mat-icon matSuffix>credit_card</mat-icon>
                <mat-error *ngIf="cc_number.invalid">
                  Card number is required
                </mat-error>
              </mat-form-field>
            </div>

            <mat-label class="mat-typography">Expiry Date:</mat-label>
              <div>
                <mat-form-field appearance="outline" class="col-md-2">
                  <input type="month"
                  matInput
                  name="cc_month"
                  ngModel
                  #cc_month="ngModel"
                  placeholder="M"
                  required
                  >
                  <mat-icon matSuffix>calendar_view_month</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-2">
                  <input type="tel"
                  matInput
                  name="cc_year"
                  ngModel
                  #cc_year="ngModel"
                  placeholder="Y"
                  required
                  >
                  <mat-icon matSuffix>calendar_view_month</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                  <input type="tel"
                  matInput
                  name="cc_cvv"
                  ngModel
                  #cc_cvv="ngModel"
                  placeholder="CVV"
                  required
                  >
                </mat-form-field>
              </div>

            <!-- <div class="input_group">
              <div class="input_box">
                <input type="tel" name="" class="name" placeholder="Card CVC 632" required>
                <i class="fa fa-user icon"></i>
              </div>
            </div>

            <div class="input_group">
              <div class="input_box">
                <div class="input_box">
                      <input type="number" placeholder="Exp Month" required class="name">
                      <i class="fa fa-calendar icon" aria-hidden="true"></i>
                </div>
              </div>
              <div class="input_box">
                  <input type="number" placeholder="Exp Year" required class="name">
                  <i class="fa fa-calendar-o icon" aria-hidden="true"></i>
              </div>
            </div> -->

            <div>
              <mat-form-field appearance="outline" class="col-md-12">
                <mat-label for="amount"> Total Amount</mat-label>
                <input type="tel"
                matInput
                name="amount"
                ngModel
                #amount="ngModel"
                placeholder="Your Total Amount"
                required
                >
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="amount.invalid">
                  Amount is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- <div class="input_box">
              <input type="number" placeholder="Enter Amount" required class="name">
              <i class="fa fa-money icon" aria-hidden="true"></i>
            </div> -->
          <!--Payment Details End-->
          <div class="input_group">
            <div class="input_box">
                <button type="submit" [disabled]="paymentForm.invalid">PAY NOW</button>
            </div>
          </div>
        </div>

        <div class="input_group" *ngIf = "paymentMethod ==='cod'">
          <div class="input_box">
              <button type="submit">Place Order</button>
          </div>
        </div>
      </form>
  </div>
  <!-- PROMO CODE ADDITION -->
  <div class="col-md-12 order-md-2">
    <h4 class="d-flex justify-content-between align-items-center">
      <span class="text-muted">Your cart</span>
      <span class="badge badge-secondary badge-pill">{{customerCart.cart.totalQuantity}}</span>
    </h4>
    <ul class="list-group">
      <li *ngFor="let product of customerCart.cart.products" class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{product.item.name}}</h6>
          <small class="text-muted">Quantity: {{product.item.quantity}}</small>
        </div>
        <span class="text-muted">{{product.price | currency: 'PKR'}}</span>
      </li>
      <!-- <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">Promo code</h6>
          <small>EXAMPLECODE</small>
        </div>
        <span class="text-success">0 PKR</span>
      </li> -->
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (PKR)</span>
        <strong>{{customerCart.cart.totalPrice}}</strong>
      </li>
    </ul>
    <!-- <form #promoForm="ngForm" (submit)="onSubmitPromo(promoForm)" class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </div>
    </form> -->
  </div>
</div>

    <!-- <div>
      <div class="col-md-8 order-md-1">
        <form style="padding-bottom:20px;" #paymentForm="ngForm" (submit)="onSubmitPayment(paymentForm)" novalidate="">
          <div>
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label for="name">Name</mat-label>
              <input matInput name="name" ngModel #name="ngModel" placeholder="Name" required >
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="name.invalid">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label for="phone_number">Phone Number<span class="text-muted">(0XXX-XXXXXXX)</span></mat-label>
              <input
              matInput
              id="number"
              placeholder="(03XX-XXXXXXX)"
              name="number"
              (focusout)="autoFormat(number.value)"
              ngModel
              #number="ngModel"
              required
              >
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="number.invalid">
                Number is required
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label for="address">Address</mat-label>
              <input matInput placeholder="1234 Main St" required name="address" ngModel #address="ngModel">
              <mat-icon matSuffix>home</mat-icon>
              <mat-error *ngIf="address.invalid">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field appearance="outline" class="col-md-4">
              <mat-label for="country">Country</mat-label>
              <select matNativeControl name="country" ngModel #country="ngModel" required>
                <option value="">Choose...</option>
                <option>Pakistan</option>
              </select>
              <mat-error *ngIf="country.invalid">
                Select a valid Country
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
              <mat-label for="country">State</mat-label>
              <select matNativeControl name="state" ngModel #state="ngModel" required>
                <option value="">Choose...</option>
                <option>Punjab</option>
              </select>
              <mat-error *ngIf="state.invalid">
                Select a valid State
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label for="country">Zip</mat-label>
              <input matInput placeholder=".e.g. 54000" name="zip" ngModel #zip="ngModel" required>
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="zip.invalid">
                Enter a Valid Zip Code
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <h4>
              Payment <img src="https://www.merchantequip.com/image/?logos=v|m&height=32" alt="Merchant Equipment Store Credit Card Logos"/>
            </h4>
            <mat-radio-group name="radiogroup" aria-label="Select an option" required>
              <mat-radio-button (change)="radioInput($event)" class="col-md-3" value="C">Debit/Credit Card</mat-radio-button>
              <mat-radio-button (change)="radioInput($event)" class="col-md-3" value="D">Jazz Cash</mat-radio-button>
              <mat-radio-button (change)="radioInput($event)" class="col-md-3" value="P">Cash on Delivery</mat-radio-button>
            </mat-radio-group>
            <div class="col-md-12" *ngIf="showCardinput">
              <div>
                <mat-form-field appearance="outline" class="col-md-12">
                  <mat-label for="address">Card Number</mat-label>
                  <input matInput maxlength="16" name="cc_number" ngModel #cc_number="ngModel" placeholder="" required>
                  <mat-icon matSuffix>perm_identity</mat-icon>
                  <mat-error *ngIf="cc_number.invalid">
                    Card number is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="col-md-12">
                  <mat-label for="address">Name of Card Holder</mat-label>
                  <input name="cc_name" ngModel #cc_name="ngModel" matInput placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <mat-icon matSuffix>perm_identity</mat-icon>
                  <mat-error *ngIf="cc_name.invalid">
                    Name of Card Holder is required
                  </mat-error>
                </mat-form-field>
              </div>
              <mat-label class="mat-typography">Expiry Date</mat-label>
              <div>
                <mat-form-field appearance="outline" class="col-md-2">
                  <input matInput name="cc_month" ngModel #cc_month="ngModel" placeholder="M" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2">
                  <input matInput name="cc_year" ngModel #cc_year="ngModel" placeholder="Y" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2">
                  <input matInput name="cc_cvv" ngModel #cc_cvv="ngModel" placeholder="CVV" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button [disabled]="!paymentForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
        </form>
      </div>

      <div class="col-md-4 order-md-2">
        <h4 class="d-flex justify-content-between align-items-center">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{data.cart.totalQuantity}}</span>
        </h4>
        <ul class="list-group">
          <li *ngFor="let product of data.cart.products" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{product.item.name}}</h6>
              <small class="text-muted">Quantity: {{product.qty}}</small>
            </div>
            <span class="text-muted">{{product.price | currency: 'PKR'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">0 PKR</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (PKR)</span>
            <strong>{{data.cart.totalPrice}}</strong>
          </li>
        </ul>
        <form #promoForm="ngForm" (submit)="onSubmitPromo(promoForm)" class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
      </div>
    </div> -->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Recipt</ng-template>
    <app-notification></app-notification>
          <div class="recipt">
              <div class="row mb-4">
                  <div class="col-sm-6">
                      <div class="text"><h6 class="mb-3">To:</h6>
                        <strong>Name: {{contactInfo.FullName}}</strong>
                      </div>
                      <div class="text">Address: 43-190 Mikolow, Poland</div>
                      <div class="text">Email: {{contactInfo.Email}}</div>
                      <div class="text">Phone: {{contactInfo.Phone_Number}}</div>
                  </div>
              </div>
              <div class="table-responsive-sm">
                  <table class="table table-striped">
                      <thead>
                          <tr class="text">
                              <th class="center">#</th>
                              <th>Item</th>
                              <th>Description</th>
                              <th class="right">Unit Cost</th>
                              <th class="center">Qty</th>
                              <th class="right">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="text" *ngFor="let product of customerCart.cart.products; let i=index;">
                              <td class="center">{{i + 1}}</td>
                              <td class="left strong">{{product.item.name}}</td>
                              <td class="left">{{product.item.category}}</td>
                              <td class="right">{{product.item.price | currency:'PKR'}}</td>
                              <td class="center">{{product.quantity}}</td>
                              <td class="right">{{product.price}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="row">
                  <div class="col-lg-4 col-sm-5">
                  </div>
                  <div class="col-lg-4 col-sm-5 ml-auto">
                      <table class="table table-clear">
                          <tbody>
                              <tr class="text">
                                  <td class="left">
                                      <strong>Subtotal</strong>
                                  </td>
                                  <td class="right">{{customerCart.cart.totalPrice}}</td>
                              </tr>
                              <tr class="text">
                                  <td class="left">
                                      <strong>Delivery Charges</strong>
                                  </td>
                                  <td class="right">{{150}}</td>
                              </tr>
                              <tr class="text">
                                  <td class="left">
                                      <strong>Discount (0%)</strong>
                                  </td>
                                  <td class="right">{{0}}</td>
                              </tr>
                              <tr class="text">
                                  <td class="left">
                                      <strong>Total</strong>
                                  </td>
                                  <td class="right">
                                      <strong>{{(customerCart.cart.totalPrice + 150) | currency:'PKR'}}</strong>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
  <a [routerLink]="['']" (click) = "printClicked()" class="print-btn">Print</a>
  </mat-step>
</mat-horizontal-stepper>
</div>


