<div class="reset-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Reset Password</mat-card-title>
    <mat-card-content>

      <form #resetForm="ngForm" (ngSubmit)="reset(resetForm)" novalidate>
        <mat-form-field>
          <input
          matInput
          placeholder="Email"
          required
          name="email"
          ngModel
          #email="ngModel"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <mat-error *ngIf="email.errors && email.errors.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="email.errors && email.errors.pattern">
              Enter a valid email
            </mat-error>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        class="reset-button">
        Send Reset Request
      </button>
    </form>
  </mat-card-content>
</mat-card>
</div>
